*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top: 20px;
}
.box{
    height: 50px;
    width: 55px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}