body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1d1f33, #6b6b91);
  font-family: "Segoe UI", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  box-shadow: 0 0 30px #00fff7aa;
  text-align: center;
  width: 450px;
}

.timeOptions {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.mainDiv {
  padding: 20px 10px;
  background: #00000088;
  border-radius: 15px;
  box-shadow: inset 0 0 15px cyan;
}

#clock {
  font-size: 60px;
  color:black ;
  text-shadow: 0 0 10px rgb(59, 219, 219), 0 0 20px #47dbca;
}
