.content{
    background-color: dodgerblue;
    color: red;
    width: 300px;
    height: 300px;
}
.hovered{
    height: 200px;
    width: 200px;
    background-color: yellow;
    color: red;
    font-size: 20px;
}
.unhovered{
    height: 200px;
    width: 200px;
    background-color: red;
    color: black;
    font-size: 20px;
    border-radius: 100%;
}
.dark{ 
    background-color: black;
    color:white;
}
.light{
    background-color: #fff;
    color: #000;
}